In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

from keras.layers import Dense, Input, LSTM, Embedding, Dropout, Activation
from keras.layers import Bidirectional, GlobalMaxPool1D,Bidirectional
from keras.models import Model
from keras.layers import TimeDistributed
from keras.layers import concatenate
from keras.layers import Dense, Input
from keras.optimizers import Adam
from keras.models import Model
from keras.layers import CuDNNLSTM
import gc
import os

Using TensorFlow backend.

# Data loading

In [2]:
x_train = np.load('/home/tidal/ML_Data/Tweet_Sentiment_Extraction/features/x_train.npy')
x_test = np.load('/home/tidal/ML_Data/Tweet_Sentiment_Extraction/features/x_test.npy')
sent_train = np.load('/home/tidal/ML_Data/Tweet_Sentiment_Extraction/features/sent_train.npy')
sent_test = np.load('/home/tidal/ML_Data/Tweet_Sentiment_Extraction/features/sent_test.npy')
targets = np.load('/home/tidal/ML_Data/Tweet_Sentiment_Extraction/targets/targets.npy')
embedding_matrix_ = np.load('/home/tidal/ML_Data/Tweet_Sentiment_Extraction/transformer_layer/embedding_matrix.npy')

In [3]:
embedding_matrix_

array([[-0.01664949, -0.06661227, -0.01632868, ..., -0.01999032,
        -0.05139988, -0.0263568 ],
       [-0.01319846, -0.06733431, -0.01605646, ..., -0.0226614 ,
        -0.05537301, -0.02600443],
       [-0.01759106, -0.07094341, -0.01443494, ..., -0.02457913,
        -0.05956192, -0.0231829 ],
       ...,
       [-0.0231029 , -0.05878259, -0.01048967, ..., -0.01945743,
        -0.02615411, -0.02118432],
       [-0.0490171 , -0.05614787, -0.00465348, ..., -0.01065376,
        -0.01797333, -0.02187675],
       [-0.00646111, -0.0914881 , -0.00254872, ..., -0.01505679,
        -0.05040044,  0.04597744]], dtype=float32)

# Fitting

In [4]:
def new_model(embedding_matrix):
    
    inp = Input(shape=(128, ))
    inp2= Input(shape=(1,))

    x = Embedding(embedding_matrix.shape[0], embedding_matrix.shape[1],weights=[embedding_matrix],trainable=False)(inp)

    x = CuDNNLSTM(150, return_sequences=True,name='lstm_layer',)(x)
    x = CuDNNLSTM(100, return_sequences=False,name='lstm_layer-2',)(x)
    
    y =Dense(10,activation='relu')(inp2)
    x= concatenate([x,y])
    
    x = Dense(108,activation='sigmoid')(x)

    model = Model(inputs=[inp,inp2], outputs=x)

    model.compile(loss='binary_crossentropy',
                      optimizer='adam')


    #print(model.summary())
    
    return model

In [5]:
%%time
model=new_model(embedding_matrix_)
history=model.fit([x_train,sent_train],targets,epochs=5)

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_1 (InputLayer)            (None, 128)          0
__________________________________________________________________________________________________
embedding_1 (Embedding)         (None, 128, 768)     23440896    input_1[0][0]
__________________________________________________________________________________________________
lstm_layer (CuDNNLSTM)          (None, 128, 150)     552000      embedding_1[0][0]
__________________________________________________________________________________________________
input_2 (InputLayer)            (None, 1)            0
__________________________________________________________________________________________________
lstm_layer-2 (CuDNNLSTM)        (None, 100)          100800      lstm_layer[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 10)           20          input_2[0][0]
__________________________________________________________________________________________________
concatenate_1 (Concatenate)     (None, 110)          0           lstm_layer-2[0][0]
                                                                 dense_1[0][0]
__________________________________________________________________________________________________
dense_2 (Dense)                 (None, 108)          11988       concatenate_1[0][0]
==================================================================================================
Total params: 24,105,704
Trainable params: 664,808
Non-trainable params: 23,440,896
__________________________________________________________________________________________________
None
Epoch 1/5
27486/27486 [==============================] - 15s 551us/step - loss: 0.1994
Epoch 2/5
27486/27486 [==============================] - 14s 502us/step - loss: 0.1828
Epoch 3/5
27486/27486 [==============================] - 14s 511us/step - loss: 0.1727
Epoch 4/5
27486/27486 [==============================] - 14s 510us/step - loss: 0.1677
Epoch 5/5
27486/27486 [==============================] - 14s 519us/step - loss: 0.1661
CPU times: user 1min 18s, sys: 3.14 s, total: 1min 21s
Wall time: 1min 14s

# 予測

In [6]:
predictions=model.predict([x_test,sent_test])
predictions

array([[4.0948644e-01, 3.4232140e-01, 3.1326446e-01, ..., 5.0406601e-05,
        1.4211882e-05, 3.3758883e-05],
       [4.0948644e-01, 3.4232140e-01, 3.1326446e-01, ..., 5.0406601e-05,
        1.4211882e-05, 3.3758883e-05],
       [4.0948644e-01, 3.4232140e-01, 3.1326446e-01, ..., 5.0406601e-05,
        1.4211882e-05, 3.3758883e-05],
       ...,
       [8.9933556e-01, 8.8674951e-01, 8.7265652e-01, ..., 7.9718608e-05,
        3.2823744e-05, 4.9186467e-05],
       [3.8082889e-01, 3.7072879e-01, 3.6704493e-01, ..., 1.3675296e-04,
        6.0742277e-05, 5.4934149e-05],
       [8.9933556e-01, 8.8674951e-01, 8.7265652e-01, ..., 7.9718608e-05,
        3.2823744e-05, 4.9186467e-05]], dtype=float32)

In [13]:
def convert_output(sub,predictions):
    preds=[]
    for i,row in enumerate(sub['text']):

        text,target=row.lower(),predictions[i].tolist()
        target=np.round(target).tolist()
        try:
            start,end=target.index(1),target[::-1].index(1)
            text_list=tokenizer.tokenize(text)
            text_list=text_list+((108-len(text_list))*['pad'])
            start_w,end_w=text_list[start],text_list[-end]
            start=text.find(start_w.replace("#",'',1))    ## remove # to match substring
            end=text.find(end_w.replace("#",''),start)
            #pred=' '.join([x for x in text_list[start:-end]])
            pred=text[start:end]
        except:
            pred=text
        
        preds.append(pred)
        
    return preds

In [27]:
test_df = pd.read_csv('/home/tidal/ML_Data/Tweet_Sentiment_Extraction/test.csv')
prediction_text=convert_output(test_df,predictions)
len(prediction_text)

3535

In [28]:
sub=pd.read_csv("/home/tidal/ML_Data/Tweet_Sentiment_Extraction/sample_submission.csv")
sub['selected_text']=prediction_text

# neutralだけそのままにしてみる -②

In [87]:
def jaccard(str1, str2): 
    a = set(str1.lower().split()) 
    b = set(str2.lower().split())
    c = a.intersection(b)
    return float(len(c)) / (len(a) + len(b) - len(c))

def jaccard_score(txt_list1, txt_list2):
    jcc_score = 0
    for txt1, txt2 in zip(txt_list1, txt_list2):
        jcc_score += jaccard(txt1,txt2)
        #print(jcc_score)

    jcc_score = jcc_score/len(txt_list1)
    return jcc_score

In [88]:
jaccard_score(["A B C D","Q A Z W"],["A C D H","Q A T G"])

0.4666666666666667

In [29]:
sub.head()

       textID                                      selected_text
0  11aa4945ff   http://twitpic.com/67swx - i wish i was calli...
1  fd1db57dc0              i'm done.haha. house md marathon ulet
2  2524332d66                      i'm concerned for that family
3  0fb19285b2  hey guys it's working no need to worry. i have...
4  e6c9e5e3ab                                      26th february

In [48]:
test_neutral = test_df[test_df['sentiment'] == 'neutral']
test_neutral.head(10)

        textID                                               text sentiment
4   e6c9e5e3ab                                      26th February   neutral
8   c6322a85c2     _Layne  hmm.. what's ur fav movie?? tv shows??   neutral
10  934ac753a2                      Nope, I'm on my way home now.   neutral
12  a8e2c45625                     In Study Hall with Brittneyy!!   neutral
13  d761530c7f  is working until 11 tonight  http://plurk.com/...   neutral
16  d5c25dbc63    still need to see that movie ! I am all abou...   neutral
17  7a897c9999   http://twitpic.com/4wptj one of my prized mag...   neutral
18  4d7def819d   Aw, sorry E. :/ I hope it looks up for you (l...   neutral
24  390f169584   im a lady and ladies don't move couches. they...   neutral
25  0de656eac1  **** fiesta at my house in my mouth  hit me up...   neutral

In [53]:
test_text_list = test_df.loc[:,'text']
sub_text_list = sub.loc[:,'selected_text']
print(test_text_list[13])
print(sub_text_list[13])
print(jaccard(test_text_list[25],sub_text_list[25]))

is working until 11 tonight  http://plurk.com/p/x2kbv
is working until 11 tonight  http://plurk.com/p/x2kbv
1.0

In [64]:
test_neutral[test_neutral['textID'] == "e6c9e5e3ab"]

       textID            text sentiment
4  e6c9e5e3ab   26th February   neutral

In [66]:
sub_neutral = pd.DataFrame()
for test_textID in test_neutral['textID']:
    sub_neutral = sub_neutral.append(sub[sub['textID'] == test_textID])

print(sub_neutral)

          textID                                      selected_text
4     e6c9e5e3ab                                      26th february
8     c6322a85c2     _layne  hmm.. what's ur fav movie?? tv shows??
10    934ac753a2                      nope, i'm on my way home now.
12    a8e2c45625                     in study hall with brittneyy!!
13    d761530c7f  is working until 11 tonight  http://plurk.com/...
...          ...                                                ...
3523  eabaf375f4  i must have viewed that picture of me and  fro...
3526  885b8f47f7                                yes sir i sure did.
3529  44daf50a02               paper writing til my heart's content
3532  08f6036add  invasion of the old ladies has just ended, sti...
3534  aa1a163174                                            will do

[1430 rows x 2 columns]

In [69]:
print(type(sub_neutral))
print(type(test_neutral))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [84]:
test_text_list_ntl = test_neutral.loc[:,'text']
sub_text_list_ntl = sub_neutral.loc[:,'selected_text']

print(jaccard_score(test_text_list_ntl, sub_text_list_ntl))

1.0

In [86]:
test_text_list = test_df.loc[:,'text']
sub_text_list = sub.loc[:,'selected_text']

print(jaccard_score(test_text_list, sub_text_list))

1.0

# ここまで -②

In [21]:
sub.to_csv('/home/tidal/ML_Data/Tweet_Sentiment_Extraction/submit/submission.csv',index=False)
sub.head()

       textID                                      selected_text
0  11aa4945ff   http://twitpic.com/67swx - i wish i was calli...
1  fd1db57dc0              i'm done.haha. house md marathon ulet
2  2524332d66                      i'm concerned for that family
3  0fb19285b2  hey guys it's working no need to worry. i have...
4  e6c9e5e3ab                                      26th february